<% title "News Post" %>

<p>
  <strong>Title:</strong>
  <%= @news_post.title %>
</p>
<p>
  <strong>Body:</strong>
  <%= @news_post.body %>
</p>
<p>
  <strong>Keywords:</strong>
  <%= @news_post.categories %>
</p>

<p>
  <%= link_to "Edit", edit_news_post_path(@news_post) %> |
  <%= link_to "Destroy", @news_post, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", news_posts_path %>
</p>
